.Loader {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        max-width: 192px;
        max-height: 192px;
        animation: spin 2s linear infinite;
    }

    p {
        font-size: 1.5rem;
    }
}

@keyframes spin {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}